# Dépendances Node.js
node_modules/
package-lock.json

# Fichiers de configuration locaux et secrets (CRITIQUE)
.env
.env.local
*.log

# Dossiers de build et de compilation
dist/
bin/
build/

# Fichiers système et IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db